@model EventDetailsViewModel

@{
	ViewBag.Title = "Детайли на Събитието";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
	<div class="row">

		<partial name="_ImageGalleryPartial" model="@Model.Images" />

		<div class="card col-8 border-0">
			<p style="font-size:25px;"><u>@Model.Name</u></p>
			<p>@Model.Description</p>
			<p>@Model.Location</p>
			<p>@Model.EventStartDate</p>
			<p>@Model.EventEndDate</p>
			<div class="form-inline">
				@if (this.User.Identity?.IsAuthenticated ?? false)
				{
					@*if (this.User.GetId() == Model.OwnerId.ToString()) //TODO owner or admin
				{
				}*@
					<a class="btn btn-warning" asp-controller="Event" asp-action="Edit"
				   asp-route-id="@Model.Id">Edit</a>
					<a class="ml-2 btn btn-danger" asp-controller="Event" asp-action="Delete"
				   asp-route-id="@Model.Id">Delete</a>

				}
			</div>

			@foreach (CommentViewModel comment in Model.Comments)
			{
				
				<partial name="_CommentPartial" model="@comment" />
			}

			<div id="edit-comment-container">
				@* This container will hold the edit comment forms dynamically *@
			</div>
			
			<partial name="_CommentFormPartial" model="@Model.CommentForm" />

		</div>
	</div>
</div>

<script>
    // Load the edit form for the clicked comment through AJAX
    function loadEditForm(commentId) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "@Url.Action("Edit", "Comment")/" + commentId, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById("comment-" + commentId).innerHTML = xhr.responseText;
            }
        };
        xhr.send();
    }

    // Add click event listeners to "Edit Comment" links
    var editCommentLinks = document.getElementsByClassName("edit-comment-link");
    for (var i = 0; i < editCommentLinks.length; i++) {
        editCommentLinks[i].addEventListener("click", function(e) {
            e.preventDefault();
            var commentId = this.getAttribute("data-comment-id");
            loadEditForm(commentId);
        });
    }
</script>


<script src="~/js/alert-confirm.js"></script>



