@model EventDetailsViewModel

@{
	ViewBag.Title = "Детайли на Събитието";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
	<div class="row">

		<partial name="_ImageGalleryPartial" model="@Model.Images" />

		<div class="card col-8 border-0">
			<p style="font-size:25px;"><u>@Model.Name</u></p>
			<p>@Model.Description</p>
			<p>@Model.Location</p>
			<p>@Model.EventStartDate</p>
			<p>@Model.EventEndDate</p>
			<div class="form-inline">
				@if (this.User.Identity?.IsAuthenticated ?? false)
				{
					if (this.User.IsAdmin() || this.User.GetId() == @Model.OwnerId)
					{
						<a class="btn btn-warning" asp-area="" asp-controller="Event" asp-action="Edit"
						   asp-route-id="@Model.Id">Edit</a>
						<a class="ml-2 btn btn-danger" asp-area="" asp-controller="Event" asp-action="Delete"
						   asp-route-id="@Model.Id">Delete</a>
					}
				}
			</div>
			<div class="alert-confirm-delete all-comments-container">
				@foreach (CommentViewModel comment in Model.Comments)
				{
					<partial name="_CommentPartial" model="@comment" />
				}
			</div>
			@if (this.User?.Identity?.IsAuthenticated ?? false)
			{
				<div class="new-comment-form">
					<partial name="_CommentFormPartial" model="@Model.CommentForm" />
				</div>
			}
		</div>
	</div>
</div>
<div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editCommentModalLabel">Edit Comment</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="editCommentModalBody">
				<!-- Modal content will be loaded here through JavaScript -->
			</div>
		</div>
	</div>
</div>


<script src="~/js/edit-comment-ajax.js"></script>

<script src="~/js/alert-confirm-parrent.js"></script>



