@model CartPreOrderFormModel

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		
			<div class="form-group">
				<label asp-for="@Model.OutfitModel.Name"></label>
				<input asp-for="@Model.OutfitModel.Name" class="form-control " readonly placeholder="Name...">
			</div>

			<div class="form-group">
				<label asp-for="@Model.OutfitModel.Description"></label>
				<textarea asp-for="@Model.OutfitModel.Description" rows="4" class="form-control " readonly placeholder="Description..."></textarea>
			</div>

			<div class="form-group">
				<label asp-for="@Model.OutfitModel.Size"></label>
				<textarea asp-for="@Model.OutfitModel.Size" rows="4" class="form-control " readonly placeholder="Description..."></textarea>
			</div>

			<div class="form-group">
				<label asp-for="@Model.OutfitModel.RenterType"></label>
				<textarea asp-for="@Model.OutfitModel.RenterType" rows="4" class="form-control" readonly placeholder="Description..."></textarea>
			</div>
		
		<partial name="_CartItemFormPartial" model="@Model.CardItemFormModel"/>
	</div>
</div>
<div class="row">
	<div id='calendar' class="col-6 offset-3 d-flex justify-content-center">
	</div>
</div>
