@model CommentViewModel

<div class="row comment-container justify-content-center @(Model.IsWaitingForReview ? "fade-comment" : "")">
    <div class="col-8">
        <div class="chat-comment">
            <div class="comment-header">
                <strong>@Model.OwnerEmail</strong>
                <span>@Model.CreatedOn</span>
            </div>
            <div class="comment-content" id="comment-content-@Model.Id">
                <p>@Model.Content</p>
            </div>
            @if (this.User.IsAdmin() && @Model.IsWaitingForReview)
            {
	            
                <div class="admin-review-warning">
                    <p>Преди да потвърдите моля проверете за актуалното съдържание през бутон "Промени"</p>
                </div>

                <form method="post" asp-area="Admin" asp-action="Approve" asp-controller="Comment" class="delete-item-form">
                    <input type="hidden" name="elementId" value="@Model.Id" />
                    <input type="submit" value="Потвърди" class="btn btn-success btn-approve-@Model.Id" />
                </form>
            }
            <div class="comment-actions d-flex justify-content-between col-12 mt-2">
                @if (this.User.Identity?.IsAuthenticated ?? false )
                {
                    if (this.User!.GetId() == @Model.OwnerId.ToUpper() || this.User!.IsAdmin())
	                {
		                @* Display Edit Comment link --AJAX -- *@
		                <a href="#" class="btn btn-warning edit-comment-link  col-lg-3 col-md-5" data-comment-id="@Model.Id">Промени</a>

		                <form method="post" 
		                      asp-area="" 
		                      asp-action="Delete" 
		                      asp-controller="Comment" 
		                      asp-route-eventId="@ViewContext.RouteData.Values["id"]" 
		                      asp-route-id="@Model.Id" class="delete-item-form col-lg-3 col-md-5">
			                <input type="submit" value="Изтрии" class="btn btn-danger btn-delete col-12" />
		                </form>
	                }
                }
            </div>
        </div>
    </div>
</div>


