@model CommentViewModel

<div class="row" id="comment-@Model.Id">
	<div class="card col-8 border-0">
		<p style="font-size:25px;">@Model.OwnerEmail</p>
	</div>
	<div class="card col-8 border-0">
		<p style="font-size:25px;">Waiting for review: @Model.IsWaitingForReview.ToString() </p>
	</div>
	<div class="card col-8 border-0">
		<p style="font-size:25px;">@Model.CreatedOn</p>
	</div>
	<div class="card col-8 border-0">
		<p style="font-size:25px;">@Model.Content</p>
	</div>
	<div class="form-inline">
		@if (this.User.Identity?.IsAuthenticated ?? false)
		{
			<a class="btn btn-warning" asp-controller="Comment" asp-action="Edit"
			   asp-route-id="@Model.Id">Edit</a>

			@* Display Edit Comment link *@
			<a href="#" class="edit-comment-link" data-comment-id="@Model.Id">Edit Comment</a>

			<a class="ml-2 btn btn-danger" asp-controller="Comment" asp-action="Delete"
			   asp-route-id="@Model.Id">Delete</a>

		}
	</div>
</div>
