@model EventAllViewModel

<div class="card mb-3">
		<div class="card-body text-center">
			<h4>@Model.Name</h4>
			<h5>@Model.EventStartDate - @Model.EventEndDate</h5>
			<br />
			@if (this.User.Identity?.IsAuthenticated ?? false)
			{
			if (this.User?.IsAdmin() ?? false || this.User?.GetId() == @Model.OwnerId)
				{
					<a asp-area="" asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id"
					   class="btn btn-warning">Промени</a>
					<a asp-area="" asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id"
					   class="btn btn-danger">Изтрий</a>
					<p></p>
				}
			}
		</div>
	<a asp-area="" asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id" class="card-link">
		<img class="card-img-top" src="@Model.ImageUrl" alt="Outfit Image" style="height: 25vh; object-fit: cover;">
	</a>
</div>


