@model RegionAllViewModel

<div class="col-md-6 col-xl-4">
	<div class="card mb-3">
		
		<div class="card-body text-center">
			<h4>@Model.Name</h4>
			<br />
			<a asp-area="" asp-controller="Region" asp-action="Details" asp-route-id="@Model.Id">
				<img class="card-img-top" src="@Model.ImageUrl" alt="Region Image" style="height: 25vh; object-fit: contain;">
			</a>
			@if (this.User?.IsAdmin() ?? false)
			{
				<a asp-area="Admin" asp-controller="Region" asp-action="Edit" asp-route-id="@Model.Id"
				   class="btn btn-warning">Промени</a>
				<a asp-area="Admin" asp-controller="Region" asp-action="Delete" asp-route-id="@Model.Id"
				   class="btn btn-danger">Изтрий</a>
				<p></p>
			}
		</div>
	</div>
</div>