@model ICollection<OrderViewModel>

@{
	ViewBag.Title = "Моите носии";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
	<h2 class="text-center">Към момента нямате потвърдени резервации!</h2>
}

<div class="row">
	@foreach (OrderViewModel order in Model)
	{
		<div class="col-md-4">
			<div class="card mb-3">
				<img class="card-img-top" src="@order.SetImage" style="height: 45vh;" alt="Outfit Image">
				<div class="card-body text-center">
					<a asp-area="" asp-controller="OutfitSet" asp-action="Details" asp-route-id="@order.OutfitId"><h4>@order.Name</h4></a>
					<br />
					<p class="">@order.FromDate</p>
					<p class="">@order.ToDate</p>
					@if (order.IsApproved)
					{
						<p class="text-success">Резервацията е одобрена</p>
					}
					else
					{
						<p class="text-warning">Резервацията изчаква одобрение!</p>
					}

					@if (DateTime.UtcNow.Date.AddDays(AllowedDaysBeforeRentStartOnUserDelete) <= order.FromDate)
					{
						<form method="post" asp-area="" asp-controller="Order" asp-action="Delete" asp-route-orderId="@order.OrderId" class="delete-item-form">
							<input type="submit" value="Откажи" class="btn btn-danger " />
						</form>
					}

				</div>
			</div>
		</div>
	}
</div>

<script src="~/js/alert-confirm.js"></script>