@model IEnumerable<NosiYa.Web.ViewModels.ApprovalViewModel>

<table class="table">
	<thead>
		<tr>
			<th>Element Name</th>
			<th>User ID</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var element in Model)
		{
			<tr>
				<td><a href="@{ element.DetailsPath + element.ElementId}">@element.Element</a></td>
				<td><a href="/Admin/User/All?SearchTerm=@element.UserName">@element.UserName</a></td>
				<td>
					<form asp-area="" asp-action="Approve" asp-controller="@element.DetailsPath" method="post" class="d-inline">
						<input type="hidden" name="elementId" value="@element.ElementId" />
						<button type="submit" class="btn btn-success">Approve</button>
					</form>
					<form asp-area="" asp-action="Delete" asp-controller="@element.DetailsPath" method="post" class="d-inline">
						<input type="hidden" name="elementId" value="@element.ElementId" />
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>