@model OutfitSetDetailsViewModel

@{
	ViewBag.Title = "Детайли на носията";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
	<div class="row">

		<partial name="_ImageGalleryPartial" model="@Model.Images"/>

		<div class="card col-8 border-0">
			<p style="font-size: 25px;"><u>@Model.Name</u></p>
			<p>
				Price Per Day:
				<b>@($"{Model.PricePerDay:f2}") BGN</b>
			</p>
			<p>@Model.Description</p>
			<p>Region: <b>@Model.Region</b></p>
			<p>Подходяща за: <b>@Model.RenterType</b></p>
			<p>Размер: <b>@Model.Size</b></p>
			<div class="form-inline">
				@if (this.User.Identity?.IsAuthenticated ?? false)
				{
					<a class="btn btn-warning" asp-controller="OutfitSet" asp-action="Edit"
					   asp-route-id="@Model.Id">Edit</a>
					<a class="ml-2 btn btn-danger" asp-controller="OutfitSet" asp-action="Delete"
					   asp-route-id="@Model.Id">Delete</a>

				}
			</div>

			@foreach (OutfitPartViewModel part in Model.OutfitParts)
			{
				<partial name="_OutfitPartPartial" model="@part"/>
			}
		</div>
	</div>
</div>
