@model RegionDetailsViewModel

@{
	ViewBag.Title = "Регион";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
	<div class="row">

		<partial name="_ImageGalleryPartial" model="@Model.Images" />

		<div class="card col-8 border-0">
			<p style="font-size:25px;"><u>@Model.Name</u></p>
			<p>@Model.Description</p>

			<div class="form-inline">
				@if (this.User.Identity?.IsAuthenticated ?? false)
				{
					<a class="btn btn-warning" asp-controller="Region" asp-action="Edit"
				   asp-route-id="@Model.Id">Edit</a>
					<a class="ml-2 btn btn-danger" asp-controller="Region" asp-action="Delete"
				   asp-route-id="@Model.Id">Delete</a>

				}
			</div>
		</div>
	</div>
</div>
